html {
    background-image: linear-gradient(to bottom right, #3874CB, rgb(57, 136, 70));
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-wrapper {
    display: grid;
    grid-template-rows: 55px auto;
    height: 100vh;
}

#title-bar {
    grid-row: 1 / 2; 

    display: grid;
    grid-template-columns: 75px auto 75px;
    background-color: white;
}

#splashscreen-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 225px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#splashscreen-buttons > * {
    margin: 5px;
}

.modal {
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 500px;
}

.form {
    width: 400px;

    background-color: white;
    padding: 20px;
    border-radius: 5px;

    gap: 10px;
}

#login-form {
    display:flex;
    flex-direction: column;
}

#register-form {
    display: grid;
    grid-template-columns: auto auto;
}

#playlist-view {
    display: grid;
    grid-template-rows: 67px auto 67px;
    padding: 12px;
    gap: 12px;
}

#playlist-view-content {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

.content-card {
    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 5px;
}

#nav-bar {
    display: grid;
    grid-template-columns: 50px 50px 50px auto 50px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 350px;
}

.status-bar {
    font-size: 100pt;
}