html {
    background-image: linear-gradient(to bottom right, #3874CB, rgb(57, 136, 70));
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-wrapper {
    display: grid;
    grid-template-rows: 55px auto;
    height: 100vh;
}

#title-bar {
    grid-row: 1 / 2; 

    display: grid;
    grid-template-columns: 75px auto 75px;
    background-color: white;
}

#splashscreen-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 225px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#splashscreen-buttons > * {
    margin: 5px;
}

.modal {
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 500px;
}

.form {
    width: 400px;

    background-color: white;
    padding: 20px;
    border-radius: 5px;

    gap: 10px;
}

#login-form {
    display:flex;
    flex-direction: column;
}

#register-form {
    display: grid;
    grid-template-columns: auto auto;
}

#playlist-view {
    display: grid;
    grid-template-rows: 67px auto 67px;
    padding: 12px;
    gap: 12px;
}

#playlist-view-content {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

.content-card {
    width: 100%;
    height: 100%;
    position: relative;

    background-color: white;
    border-radius: 5px;
}

#player-section-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 850;
}

.youtube-player-content {
    width: 100%;
    height: 100%;
    padding: 15px;

    margin-top: 5px;

    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

#comment-section-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 850;
}

#comment-area-wrapper {
    position: absolute;
    top:0px;
    /* left: 3%;
    width: 94%; */
    width: 100%;
    height: 100%;

    z-index: 850;

    display: grid;
    grid-template-rows: 55px auto 75px;
}

#comment-card-wrapper {
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;

    margin: 15px;
}

.comment-card {
    padding: 15px;

    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

#list-card-wrapper {
    position: absolute;
    top: 3%;
    height: 94%;
    left: 3%;
    width: 94%;

    display: flex;
    flex-direction: column; 
    gap: 12px;
    overflow-y: scroll;
}

.list-card {
    display: grid;
    grid-template-columns: auto 100px 100px;
    width: 95%;

    padding: 10px;

    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.username-link {
    color: blue;
    cursor: pointer;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.song-list-wrapper {
    grid-column: 1/4;

    padding: 10px;

    background-color: white;
    border-radius: 5px;
}

.song-list-wrapper-buttons {
    margin-top: 5px;

    display: grid;
    grid-template-columns: auto auto;
}

.song-list {
    display: flex;
    flex-direction: column;

    height: 250px;
    overflow-y: scroll;

    gap: 5px;
    padding: 10px;
}

.song-card {
    padding: 10px;

    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.song-card-unpublished {
    display: grid;
    grid-template-columns: auto 35px;
}

#nav-bar {
    display: grid;
    grid-template-columns: 50px 50px 50px auto 50px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 350px;
}